*~
*.cache
*.log
*.pid
tmp/**/*
.DS_Store
._*
.htaccess
.htpasswd
.sass-cache
.tmp
node_modules/**/*

# Configuration Files
service/config/config.ini
service/config/config.yaml
service/web/config/config.yaml
web/config/spaceassessConfig.js
analysis/config/config.yaml
