*~
*.cache
*.log
*.pid
*.swp
tmp/**/*
.DS_Store
._*
.htaccess
.htpasswd
.sass-cache
.tmp
node_modules
analysis/test/js/coverage
analysis/test/php/coverage

# Configuration Files
service/config/config.ini
service/config/config.yaml
service/web/config/config.yaml
web/config/spaceassessConfig.js
analysis/config/config.yaml
analysis/reports/lib/php/localSql.php

#cron job
analysis/reports/lib/php/nightly.sh