*~
*.cache
*.log
*.pid
tmp/**/*
.DS_Store
._*

# Configuration Files
service/config/config.ini
service/config/indexConfig.php
web/spaceassessConfig.js
analysis/lib/php/ServerIOConfig.php
analysis/reports/nightly/nightly_config.php