ol {
    list-style-type:none;
}

.toggleInit {
    font-size: 22px;
    font-weight: bold;
}

.enableInit {
    color: green;
}

.disableInit {
    color: red;
}

#activityArea {
    width:40%;
}

.placeholder {
    background-color: #cfcfcf;
}

.ui-nestedSortable-error {
    background:#fbe3e4;
    color:#8a1f11;
}

.sortable li div {
    border: 1px solid black;
    padding: 3px;
    margin: 0;
    cursor: move;
}

#locArea {
    width:50%;
}

.activityControls {
    float:right;
}

/*.editAct, .editActGroup, .editLoc {
    float:right;
}*/

.editActGroup, .editAct {
    margin-left: 15px;
}

.disabled-loc, .disabled-act {
    background: gray;
}

.locDesc, .actDesc, .actGroupDesc, .locID, .actID, .actGroupID, #initID, #treeID {
    display:none;
}

