html {
    -webkit-user-select: none;
}

#project_title_heading {
    float: left;
}

#count_heading {
    margin: .5em;
    margin-right: 0;
    float: right;
}

#count_total {
    font-size: 3.5em;
    margin-left: .15em;
    margin-right: .15em;
    background-color: white;
}

#session_timer {
    font-size: 1.9em;
    background-color: white;
}

#current_loc_label {
    min-height:2.5em;
    font-size: 1.6em;
    border-bottom: 1px dotted;
    text-align: center;
    margin: 0px;
    padding: .5em;
}

#counting_container {
    margin-top: 17px;
}

#activityGroupContainer {
    margin-left: 10px;
}

input#goesup {
    width: 90%;
    height: 320px; 
    font-size: 5em;
}

#entry_graf {
    visibility:hidden;
    font-size: 1.6em;
    float: right;
    padding-right: 5%;
}

input#countInput {
    display: none;
    width: 10%;
    float: right;
    height: 50px;
    font-size: 2em;
    margin-bottom: 30px;
    text-align: center;
}

#goesdown_heading {
    float:left;
}

#abandon_heading {
    float:left;
}

#save_session_heading {
    float:right;
    /*text-align: center;*/
}

#view_data {
    float:left;
}

.sidebar, .main_entry {
    min-height: 850px;
}

.sidebar {
    background-color:#D9E2E1;
}

.sidebar h3 {
    margin-bottom: 9px;
}
.main_entry {
    /*background-color:#F4F3EE;*/
}

.pad_div {
    padding:7px;
}

.pad_div h2, .pad_div h4 {
    margin-bottom:5px;
}

.header_content {
    background-color:#A2ADBC;
}

a:visited {
    color:#0000FF;
}

.footer_content {
    background-color:#DF9496;
}

#goesup {
    float: right;
}

#updownbuttons {
    margin-top: 50px;
}

#loc_header {
    display:none;
}

li.selected_loc a {
    font-weight: bold;
}

ul.loc_list {
    padding-left: 1em;
    margin-left: 0;
    padding-right: 1em;
    margin-right: 0;
    margin-bottom: 1.4em;
}

ul.loc_list li {
    list-style-type:none;
}

ul.loc_list li a {
    -webkit-tap-highlight-color:#EE8262;
    padding:.1em;
    padding-top:.2em;
    padding-bottom:.2em;
    font-size:1.5em;
    border-bottom: 1px solid;
    color:#488AC7;
}

ul.loc_list:last-child li, ul.loc_list:last-child li a {
    color: blue;
}

ul.loc_list:last-child li.selected_loc a {
    font-weight: bold;
}

ul.loc_list:last-child li a {
    /*-webkit-tap-highlight-color:#FF7F24;*/
}

li.loc_item a {
    display: block;
    text-decoration: none;
}

.ui-button, .ui-widget .ui-button {
    padding: .4em .1em;
    margin: .15em;
    margin-bottom: .4em;
    font-size: 16px;
}

#abandon_session {
    margin-top: .275em;
    margin-left: 2.2em;
}

#abandon_session span.ui-button-text {
    padding: .25em .5em;
}

.ui-dialog .ui-dialog-titlebar-close {
    display: none;
}

#loadingScreen {
    background: url(images/loading.gif) no-repeat 5px 8px;
    padding-left: 50px;
    padding-top: 14px;
}

.activityGroup {
    margin-top: 7px;
    padding: 2px 5px 1px;
    border: 1px solid DarkGray;
    border-radius: 5px;
}

.actGroupLabel {
    margin-bottom: 4px;
    margin-left: 5px;
}

.activityContainer {
    max-width: 210px;
}

.leftActivities {
    float:left;
}

.rightActivities {
    float:right;
    text-align:right;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    background: #D7EBF9;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background:#3BAAE3;
}

.retroMode {
    display: none;
}

@media all and (max-width: 480px) {
/* Rules to begin supporting smaller devices */
    input#goesup {
        height: 120px;
        font-size: 3em;
    }

    select#init_selector {
        width: 100px;
    }

    h3 {
        font-size: 1.5em;
    }

    ul.loc_list {
        padding-left: 5px;
        margin-left: 0px;
    }

    ul.loc_list li {
        padding-left: 0px;
        margin-left: 0px;
    }

    ul.loc_list li a {
        padding:5px 0px;
        margin:0px;
        font-size: 1.35em;
    }

    div.activityContainer {
        text-align:left;
        float:none;
    }

    #abandon_heading, #goesdown_heading, #save_session_heading {
        float:none;
    }

    #abandon_session {
        margin-left:0.15em;
    }
}
