#loadingWidget {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

#sessions-data {
    display: none;
}

.alert-error {
    display: none;
}