#loading {
    position:relative;
    width:50%;
    top:50%;
    left:50%;
    display:none;
}

#secondary-loading {
    display:none;
}

#secondary-spinner {
   margin: 50px 0 0 75px;

}

#supplemental-charts {
    display:none;
}

.formatText {
    font-size:12px;
    padding-left:5px;
    color:#666;
}

#chart{
    width:940px;
    min-height: 150px;
    margin-bottom:25px;
}

#chart2 {
    margin-top: 10px;
}

#main-chart-header {
    visibility:hidden;
}

svg {
    font: 10px sans-serif;
}

.dot {
    stroke: #f7f7f7;
    stroke-width: 2px;
}

#legendCircle {
    stroke: #f7f7f7;
    stroke-width: 2px;
}

.axis {
    shape-rendering: crispEdges;
}

.brush rect.extent {
    stroke: #333;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.brush .resize path {
    fill: #eee;
    stroke: #666;
}

/* Additional Interface Rules */
#secondary-filters {
    display:none;
}

#summary-data {
    display:none;
}

#supp-chart-note {
    visibility: hidden;
}