body {
    padding-bottom: 80px;
}

#chart {
    font: 10px sans-serif;
    width: 960px;
    shape-rendering: crispEdges;
}

#controls {
    display: none;
}

#calendar-header {
    min-height: 160px;
}

/* AJAX */
#loading {
    position: relative;
    width: 50%;
    top: 50%;
    left: 50%;
    display: none;
}

#loading img {
    margin-top: 50px;
}

.secondary-loading {
    display: none;
}

#secondary-spinner {
   margin: 50px 0 0 75px;
}

.secondary-filters {
    display: none;
}

/* Line Chart */
.yAxis, .xAxis {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

#tsLegend {
    font: 10px sans-serif;
}

/* Summary */
.summary {
    display: none;
}

#filters {
    height: 300px;
}
