<div class="row">
  <div class="col-md-6">
    <h2>About Suma</h2>

    <p>Suma is a set of free software and tools that allows for observational data about space usage to be gathered on a tablet device (such as an iPad), then analyzed and visualized in a browser-based interface. Suma streamlines existing data collection methods, enabling quick, hassle-free mobile data collection and storage. Suma also provides a sophisticated suite of data analysis and visualization capabilities, including a set of charts that dynamically recombine and display data based on the user's input parameters, and exportable spreadsheets and graphs. Suma is an open-source software project from North Carolina State University Libraries, created with the goal of promoting observational data analysis as an integral part of service / space design and day-to-day planning.
    </p>

    <h2>The case for Suma</h2>
    <p>Many libraries produce manual headcounts or activity counts for physical spaces, but struggle with the difficulties of collecting, organizing, storing, and analyzing such data, significantly limiting its use. The availability of tablet devices has created an opportunity to simplify and encourage the collection of fine-grained data about the use of library services and physical spaces. Suma – which can be used on any tablet or a desktop browser -- streamlines collection and centralized management of space usage data, and enables rapid quantitative data analysis that reduces technical barriers for librarians to employ space usage data for assessment.
    </p>
  </div>
</div>