<div class="calendar">
  <div class="row" data-ng-show="state.success">
    <div class="col-xs-5">
      <p class="text-muted">
        <strong>Initiative: </strong> {{summaryParams.init.title}} <br/>
        <strong>Classify By: </strong> {{summaryParams.classifyCounts.title}}
        <strong>Whole Session: </strong> {{summaryParams.wholeSession.title}} <br/>
        <strong>Dates: </strong> {{summaryParams.sdate}} - {{summaryParams.edate}}
        <strong>Subset: </strong> {{summaryParams.stime || '00:00'}} - {{summaryParams.etime || '23:59'}} <br/>
        <strong>Days: </strong> {{summaryParams.days}} <br/>
        <strong>Locations: </strong> {{summaryParams.location.title}}
        <strong>Activities: </strong> {{summaryParams.activity.title}}
      </p>
    </div>
    <div class="col-xs-7">
      <div class="row">
        <div data-suma-buttons-radio class="btn-group col-xs-4 pull-right" data-model="data.data" data-options="data.options"></div>
        <div class="pull-right">
          <span data-suma-chart-download data-chart="#chart-1" data-title="suma_calendar_chart.png"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 chart-wrapper">
      <div class="loading" data-ng-show="state.loading"><img src="images/spinner.gif" alt="Spinner"></div>
      <div class="alert alert-info alert-block" data-ng-show="state.initial">
        <h4>Welcome!</h4>
        Please select an initiative from the select menu below. Once you have chosen an initiative, additional filter options will appear. You can also limit your search by date or time.
      </div>
      <div class="alert alert-danger alert-block" data-ng-show="state.error">
        <h4>Notice!</h4>
        <p>There was a problem generating the report. Please try again or contact your system administrator.</p>
        <p>Error Code: {{errorCode}}</p>
        <p>Error Message: {{errorMessage}}</p>
      </div>
      <div data-suma-calendar-chart id="chart-1" data-data="data.data" data-stats="stats" data-ng-show="state.success"></div>
    </div>
  </div>

  <div class="row" data-ng-hide="finder.active()">
    <div class="col-xs-9">
      <h3>Modify Chart</h3>
    </div>

    <div class="col-xs-3" data-ng-show="params.init && !processMetadata">
      <h3>Initiative Filters</h3>
    </div>
  </div>

  <div class="row">
    <div class="loading" data-ng-show="finder.active()"><img src="images/spinner.gif" alt="Spinner"></div>
  </div>

  <div class="row filter-row" data-ng-hide="finder.active()">
    <form data-ng-submit="submit()">
      <fieldset data-ng-disabled="state.loading">
        <div class="col-xs-3">
          <div class="form-group">
            <label class="suma-popover" data-title="Select Initiative" data-content="Select an initiative to reveal additional filters." data-suma-popover>Select an Initiative</label>
            <select name="initiative" data-ng-model="params.init" data-ng-options="init.title for init in inits" data-ng-change="updateMetadata()" class="form-control">
              <option value="">Select an Initiative</option>
            </select>
          </div>

          <div class="form-group">
            <label class="suma-popover" data-title="Classify Counts By" data-content='Choose the date to use for grouping counts by date. "Count Date" shows the actual date of the count, while "Session Start" and "Session End" use the respective date on the collection session containing each count.' data-suma-popover>Classify Counts By</label>
            <select name="classifyCounts" id="classifyCounts" class="form-control" data-ng-model="params.classifyCounts" data-ng-options="opt.title for opt in countOptions">
            </select>
          </div>

          <div class="form-group">
            <label class="suma-popover" data-title="Always Include Whole Session" data-content="Select yes if you would like to include counts inside of sessions that may fall outside of your other filters." data-suma-popover>Always Include Whole Session</label>
            <select name="wholeSession" id="wholeSession" class="form-control" data-ng-model="params.wholeSession" data-ng-options="opt.title for opt in sessionOptions">
            </select>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="form-group">
            <label class="suma-popover" data-title="Choose Date Range" data-content="Select a start date for your analysis. Defaults to 4 months from current day. Clear fields to retrieve the complete data set." data-suma-popover>Start Date</label>
            <div data-suma-datepicker data-model="params.sdate"></div>
            <span class="help-block">YYYY-MM-DD</span>
          </div>

          <div class="form-group">
            <label class="suma-popover" data-title="Choose Date Range" data-content="Select an end date for your analysis. Clear fields to retrieve complete data set." data-suma-popover>End Date</label>
            <div data-suma-datepicker data-model="params.edate"></div>
            <span class="help-block">YYYY-MM-DD</span>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="form-group">
            <label class="suma-popover" data-title="Select Subset of Day" data-content="Include only data gathered during a certain time of day in your analysis, e.g. 20:00-22:00." data-suma-popover>Start Time</label>
            <div data-suma-timepicker data-model="params.stime" data-placeholder="00:00"></div>
            <span class="help-block">24-hour format, e.g. 08:00</span>
          </div>

          <div class="form-group">
            <label class="suma-popover" data-title="Select Subset of Day" data-content="Include only data gathered during a certain time of day in your analysis, e.g. 20:00-22:00." data-suma-popover>End Time</label>
            <div data-suma-timepicker data-model="params.etime" data-placeholder="23:59"></div>
            <span class="help-block">24-hour format, e.g. 08:00</span>
          </div>
        </div>

        <div class="col-xs-3 supp-wrapper" data-ng-show="processMetadata">
          <div class="loading" ><img src="images/spinner.gif" alt="Spinner"></div>
        </div>

        <div class="col-xs-3" data-ng-show="params.init && !processMetadata">
          <div class="form-group">
            <label class="suma-popover" data-title="Limit Days of the Week" data-content="Filter by weekday." data-suma-popover>Limit Days of the Week</label>
            <div class="controls">
              <div class="row" >
                <div class="col-xs-3" ng-repeat="day in dayOptions">
                  <label class="checkbox-inline">
                    <input type="checkbox" value="{{day}}" check-list="params.days" suma-checklist>{{day | capitalize}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="suma-popover" data-title="Limit Locations" data-content="Select which locations to include in your analysis. Selecting a location with children will include all children in the data set." data-suma-popover>Limit Locations</label>
            <div class="controls">
              <select name="locations" data-ng-model="params.location" data-ng-options="loc | depth for loc in locations" class="form-control">
              </select>
            </div>
          </div>

          <div class="form-group" ng-show="activities.length > 2">
            <label class="suma-popover" data-title="Limit Activities" data-content="Select which activities or Activity Groups to require or exclude in your analysis. Excluding Activity Groups will also exclude their child activities. Requiring an Activity Group while allowing all children will require at least one of the children. All required fields must be present in each count, and all excluded fields must be absent from each count." data-suma-popover>Limit Activities</label>
            <div class="controls">
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#sumaModal">
                Limit Activities
              </button>
              <div data-suma-modal data-modal-id="sumaModal" data-modal-title="Limit Activities" data-modal-save-text="Update">
                <div data-suma-activity-filter acts="activities"></div>
              </div>
            </div>
          </div>

          <div data-suma-active-acts acts="activities" ng-show="activities.length > 2"></div>

          <div>
            <input type="submit" id="submit" class="btn btn-success" value="{{state.loading ? 'Loading...' : 'Submit'}}" />
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div id="summary" class="row" data-ng-show="state.success && stats">
    <div class="col-xs-6">
      <h3>Summary Statistics</h3>
        <table class="table table-hover table-condensed">
          <tbody>
            <tr>
              <td>Min</td>
              <td>{{stats.min}}</td>
            </tr>
            <tr>
              <td>Max</td>
              <td>{{stats.max}}</td>
            </tr>
            <tr>
              <td>Quartiles</td>
              <td>{{stats.quartiles}}</td>
            </tr>
            <tr>
              <td>Median</td>
              <td>{{stats.median}}</td>
            </tr>
            <tr>
              <td>Interquartile Range</td>
              <td>{{stats.iqr}}</td>
            </tr>
            <tr>
              <td>Lower Outlier Threshold</td>
              <td>{{stats.lowerOutlier}}</td>
            </tr>
            <tr>
              <td>Upper Outlier Threshold</td>
              <td>{{stats.upperOutlier}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
