<div class="time-series">
  <div class="row" data-ng-show="state.success">
    <div class="col-xs-5">
      <p class="text-muted">
        <strong>Initiative: </strong> {{summaryParams.init.title}} <br/>
        <strong>Classify By: </strong> {{summaryParams.classifyCounts.title}}
        <strong>Whole Session: </strong> {{summaryParams.wholeSession.title}} <br/>
        <strong>Dates: </strong> {{summaryParams.sdate}} - {{summaryParams.edate}}
        <strong>Subset: </strong> {{summaryParams.stime || '00:00'}} - {{summaryParams.etime || '23:59'}} <br/>
        <strong>Days: </strong> <span ng-repeat="day in summaryParams.days">{{day | capitalize}}<span ng-show="!$last">,</span> </span>
        <strong>Locations: </strong> {{summaryParams.location.title}} <br/>
        <strong>EA: </strong> {{summaryParams.excludeActs | activityTitle:activities:'activity'}}
        <strong>RA: </strong> {{summaryParams.requireActs | activityTitle:activities:'activity'}}
        <strong>EAG: </strong> {{summaryParams.excludeActGrps | activityTitle:activities:'activityGroup'}}
        <strong>RAG: </strong> {{summaryParams.requireActGrps | activityTitle:activities:'activityGroup'}}
      </p>
    </div>
    <div class="col-xs-7">
      <div class="row">
        <div data-suma-buttons-radio class="btn-group col-xs-4 pull-right" data-model="data.timeSeriesData" data-options="data.timeSeriesOptions"></div>
        <div class="pull-right">
          <a class="btn btn-default btn-sm" data-ng-click="scrollTo('export-data')">Export Raw Data</a>
          <a class="btn btn-default btn-sm" data-ng-click="scrollTo('summary-data')">Summary Data</a>
          <span data-suma-chart-download data-chart="#chart-1" title="suma_timeseries_chart.png" data-filter=".sub-graph"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 chart-wrapper">
      <div class="loading" data-ng-show="state.loading"><img src="images/spinner.gif" alt="Spinner"></div>
      <div class="alert alert-info alert-block" data-ng-show="state.initial && !finder.active()">
        <h4>Welcome!</h4>
        Please select an initiative from the select menu below. Once you have chosen an initiative, additional filter options will appear. You can also limit your search by date or time.
      </div>
      <div class="alert alert-danger alert-block" data-ng-show="state.error">
        <h4>Notice!</h4>
        <p>There was a problem generating the report. Please try again or contact your system administrator.</p>
        <p>Error Code: {{errorCode}}</p>
        <p>Error Message: {{errorMessage}}</p>
      </div>
      <div data-suma-time-series-chart id="chart-1" data-data="data.timeSeriesData" data-ng-show="state.success"></div>
    </div>
  </div>

  <div class="row" data-ng-hide="finder.active()">
    <div class="col-xs-9">
      <h3>Modify Chart</h3>
    </div>

    <div class="col-xs-3" data-ng-show="params.init && !processMetadata">
      <h3>Initiative Filters</h3>
    </div>
  </div>

  <div class="row">
    <div class="loading" data-ng-show="finder.active()"><img src="images/spinner.gif" alt="Spinner"></div>
  </div>

  <div class="row filter-row" data-ng-hide="finder.active()">
    <form data-ng-submit="submit()">
      <fieldset data-ng-disabled="state.loading">
        <div class="col-xs-3">
          <div class="form-group">
            <label class="suma-popover" data-title="Select Initiative" data-content="Select an initiative to reveal additional filters." data-suma-popover>Select Initiative</label>
            <select name="initiative" data-ng-model="params.init" data-ng-options="init.title for init in inits" data-ng-change="updateMetadata()" class="form-control">
              <option value="">Select an Initiative</option>
            </select>
          </div>

          <div class="form-group">
            <label class="suma-popover" data-title="Classify Counts By" data-content='Choose the date to use for grouping counts by date. "Count Date" shows the actual date of the count, while "Session Start" and "Session End" use the respective date on the collection session containing each count.' data-suma-popover>Classify Counts By</label>
            <select name="session" id="classifyCounts" class="form-control" data-ng-model="params.classifyCounts" data-ng-options="opt.title for opt in countOptions">
            </select>
          </div>

          <div class="form-group">
            <label class="suma-popover" data-title="Always Include Whole Session" data-content="Select yes if you would like to include counts inside of sessions that may fall outside of your other filters." data-suma-popover>Always Include Whole Session</label>
            <select name="session_filter" id="wholeSession" class="form-control" data-ng-model="params.wholeSession" data-ng-options="opt.title for opt in sessionOptions">
            </select>
          </div>

          <div class="form-group">
            <label class="suma-popover" data-title="Use Zero Counts" data-content="Select yes if you would like to include counts with a number of 0 in the percentage and average calculations for the summary data and locations and activities chart." data-suma-popover>Use Zero Counts for Locations </label>
            <select name="zeroCounts" id="zeroCounts" class="form-control" data-ng-model="params.zeroCounts" data-ng-options="opt.title for opt in zeroOptions">
            </select>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="form-group">
            <label class="suma-popover" data-title="Choose Date Range" data-content="Select a start date for your analysis. Defaults to 4 months from current day. Clear fields to retrieve the complete data set." data-suma-popover>Start Date</label>
            <div data-suma-datepicker data-model="params.sdate"></div>
            <span class="help-block">YYYY-MM-DD</span>
          </div>

          <div class="form-group">
            <label class="suma-popover" data-title="Choose Date Range" data-content="Select an end date for your analysis. Clear fields to retrieve complete data set." data-suma-popover>End Date</label>
            <div data-suma-datepicker data-model="params.edate"></div>
            <span class="help-block">YYYY-MM-DD</span>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="form-group">
            <label class="suma-popover" data-title="Select Subset of Day" data-content="Include only data gathered during a certain time of day in your analysis, e.g. 20:00-22:00." data-suma-popover>Start Time</label>
            <div data-suma-timepicker data-model="params.stime" data-placeholder="00:00"></div>
            <span class="help-block">24-hour format, e.g. 08:00</span>
          </div>

          <div class="form-group">
            <label class="suma-popover" data-title="Select Subset of Day" data-content="Include only data gathered during a certain time of day in your analysis, e.g. 20:00-22:00." data-suma-popover>End Time</label>
            <div data-suma-timepicker data-model="params.etime" data-placeholder="23:59"></div>
            <span class="help-block">24-hour format, e.g. 08:00</span>
          </div>
        </div>

        <div class="col-xs-3 supp-wrapper" data-ng-show="processMetadata">
          <div class="loading" ><img src="images/spinner.gif" alt="Spinner"></div>
        </div>

        <div class="col-xs-3" data-ng-show="params.init && !processMetadata">
          <div class="form-group">
            <label class="suma-popover" data-title="Limit Days of the Week" data-content="Filter by weekday." data-suma-popover>Limit Days of the Week</label>
            <div class="controls">
              <div class="row" >
                <div class="col-xs-3" ng-repeat="day in dayOptions">
                  <label class="checkbox-inline">
                    <input type="checkbox" value="{{day}}" check-list="params.days" suma-checklist>{{day | capitalize}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="suma-popover" data-title="Limit Locations" data-content="Select which locations to include in your analysis. Selecting a location with children will include all children in the data set." data-suma-popover>Limit Locations</label>
            <div class="controls">
              <select name="locations" data-ng-model="params.location" data-ng-options="loc | depth for loc in locations" class="form-control">
              </select>
            </div>
          </div>

          <div class="form-group" ng-show="activities.length > 2">
            <label class="suma-popover" data-title="Limit Activities" data-content="Select which activities or Activity Groups to require or exclude in your analysis. Excluding Activity Groups will also exclude their child activities. Requiring an Activity Group while allowing all children will require at least one of the children. All required fields must be present in each count, and all excluded fields must be absent from each count." data-suma-popover>Limit Activities</label>
            <div class="controls">
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#sumaModal">
                Limit Activities
              </button>
              <div data-suma-modal data-modal-id="sumaModal" data-modal-title="Limit Activities" data-modal-save-text="Update">
                <div data-suma-activity-filter acts="activities"></div>
              </div>
            </div>
          </div>

          <div data-suma-active-acts acts="activities" ng-show="activities.length > 2"></div>

          <div>
            <input type="submit" id="submit" class="btn btn-success" value="{{state.loading ? 'Loading...' : 'Submit'}}" />
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div id="summary-data" class="row">
    <div class="col-xs-5" data-ng-show="state.success" >
      <h3>Summary Data</h3>
      <div>
        <h4>Total Sum</h4>
        <p>{{data.total[0].count | countFormat}}</p>
        <h4>Total # of Counts</h4>
        <p>{{data.totalCounts[0].count | countFormat}}</p>
        <h4>Total # of Zero Counts</h4>
        <p>{{data.totalZeroCounts[0].count | countFormat}}</p>
        <h4>Avg of Sums</h4>
        <p>{{data.totalAvgSum[0].count.toFixed(2) | countFormat}}</p>
        <h4>Avg of Avgs</h4>
        <p>{{data.totalAvgAvg[0].count.toFixed(2) | countFormat}}</p>
        <h4>Days with Observations</h4>
        <p>{{data.daysWithObservations[0].count | countFormat}} (includes zero counts)</p>
      </div>
      <div>
        <h4>Totals by Location</h4>
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Location</th>
              <th>Total</th>
              <th>Percentage</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="loc in data.locationsTable" >
              <td>{{loc | depth}}</td>
              <td>{{loc.count | countFormat}}</td>
              <td>{{loc.percent}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h4>Totals by Activity</h4>
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Activity</th>
              <th>Total</th>
              <th>Percentage</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="act in data.activitiesTable">
              <td>{{act | depth}}</td>
              <td>{{act.count | countFormat}}</td>
              <td>{{act.percent}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h4>Totals by Year</h4>
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Year</th>
              <th>Total</th>
              <th>Percentage</th>
            </tr>
          </thead>
          <tbody>

            <tr data-ng-repeat="year in data.yearSummary">
              <td>{{year.name}}</td>
              <td>{{year.count | countFormat}}</td>
              <td>{{year.percent}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h4>Totals by Month</h4>
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Month</th>
              <th>Total</th>
              <th>Percentage</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="month in data.monthSummary">
              <td>{{month.name}}</td>
              <td>{{month.count | countFormat}}</td>
              <td>{{month.percent}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h4>Totals by Weekday</h4>
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Weekday</th>
              <th>Total</th>
              <th>Avg</th>
              <th>Percentage</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="weekday in data.dayOfWeekSummary">
                <td>{{weekday.name}}</td>
                <td>{{weekday.count.total}}</td>
                <td>{{weekday.count.avg.toFixed(2)}}</td>
                <td>{{weekday.percent}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h4>Totals by Hour</h4>
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Hour</th>
              <th>Total</th>
              <th>Percentage</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="hour in data.hourlySummary">
              <td>{{hour.name | hourFormat}}</td>
              <td>{{hour.count | countFormat}}</td>
              <td>{{hour.percent}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-7" data-ng-show="state.success">
      <div class="col-xs-12">
        <h3>Locations and Activities</h3>
      </div>
      <div class="col-xs-12">
        <span data-suma-buttons-radio class="btn-group" data-toggle="buttons" data-model="data.actsLocsData" data-options="data.actsLocsOptions"></span>
        <span data-suma-buttons-radio class="btn-group" data-toggle="buttons" data-model="data.barChartData" data-options="data.actsLocsData.items"></span>
        <span data-suma-chart-download data-chart="#chart-2" data-title="suma_bar_chart.png"></span>
      </div>
      <div class="col-xs-12 bar-chart-wrapper">
        <div data-suma-bar-chart id="chart-2" data-data="data.barChartData"></div>
      </div>
      <div id="export-data" class="col-xs-12">
        <h3>Export Raw Data</h3>
        <div data-suma-csv data-data="data"></div>
      </div>
    </div>
  </div>
</div>
