.hourly {
  .chart-wrapper {
    width: 940px;
    min-height: 150px;
    margin-bottom: 20px;
  }

  .supp-wrapper {
    height: 110px;
  }

  .filter-row {
    min-height: 260px
  }

  .loading {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
  }

  svg {
    font: 10px sans-serif;
  }

  .yAxis, .xAxis {
    shape-rendering: crispEdges;
  }
}
