.time-series {
  .time-series-chart-wrapper {
    width: 940px;
    min-height: 150px;
    margin-bottom: 20px;
  }

  .bar-chart-wrapper {
    margin-top: 20px;
  }

  .supp-wrapper {
    height: 110px;
  }

  .filter-row {
    min-height: 260px
  }

  .loading {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
  }

  svg {
    font: 10px sans-serif;
  }

  .dot {
    stroke: #f7f7f7;
    stroke-width: 2px;
  }

  #legend-circle {
    stroke: #f7f7f7;
    stroke-width: 2px;
  }

  .axis {
    shape-rendering: crispEdges;
  }

  .brush rect.extent {
    stroke: #333;
    fill-opacity: .125;
    shape-rendering: crispEdges;
  }

  .brush .resize path {
    fill: #eee;
    stroke: #666;
  }
}
